/*-------------------------------------------------------*/
/* Spacings
/*-------------------------------------------------------*/
.mb-32 {
	margin-bottom: 32px;
}
.mb-56 {
	margin-bottom: 56px;
}
.mb-48 {
	margin-bottom: 48px;
}
.mb-0 {
	margin-bottom: 0 !important;
}
.pt-40 {
	padding-top: 40px;
}
.pt-32 {
	padding-top: 32px;
}
.pt-64 {
	padding-top: 64px;
}
.pb-64 {
	padding-bottom: 64px;
}
.pb-0 {
	padding-bottom: 0;
}
