/*-------------------------------------------------------*/
/* WordPress Styles
/*-------------------------------------------------------*/
body.admin-bar {
	.nav--sticky.sticky {
		top: 32px;

		@media screen and (max-width: 782px) {
			top: 46px;
		}

		@media screen and (max-width: 600px) {
			top: 0;
		}
	}
}

.site-title {
	font-family: var(--deo-heading-font);
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 0;
	line-height: 1.2;
}

.site-tagline {
	margin-bottom: 0;
	font-style: italic;
	font-size: 0.875rem;
	color: var(--deo-text-color);
}

/* Alignment
-------------------------------------------------------*/
.alignleft,
.alignright {
	max-width: 100% !important;
	float: none;
}

@include bp-sm-up {
	.alignleft {
		float: left;
		margin: 0.5em 2em 2em 0;
	}

	.alignright {
		float: right;
		margin: 0.5em 0 2em 2em;
	}

	.alignleft,
	.alignright {
		max-width: 40% !important;
	}
}

@include bp-sm-down {
	.alignleft,
	.alignright {
		margin-left: 0;
		margin-right: 0;
		float: none;
	}
}

.alignnone {
	margin: 0.5em 0;
}

.aligncenter {
	text-align: center;
	display: block;
	margin: 0.5em auto;
}

.wp-caption,
.gallery-caption {
	max-width: 100%;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text,
.says {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
	border: 1px solid var(--deo-border-color);
	padding: 2px;
}

/*-------------------------------------------------------*/
/* Galleries
/*-------------------------------------------------------*/

ul.wp-block-gallery {
	padding-left: 0;
}

@include bp-sm-up {
	div[class^="gallery-columns-"],
	div[class*=" gallery-columns-"] {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
	}
}

.gallery-caption {
	display: block;
}

.gallery-item {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin-bottom: 20px;
	padding: 0 10px;
	width: 100%;

	img {
		width: 100%;
	}

	@include bp-sm-down {
		max-width: 100%;
		padding: 0;
	}
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus,
.widget-area .gallery-item a,
.widget-area .gallery-item a:hover,
.widget-area .gallery-item a:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
	display: inline-block;
	max-width: 100%;
}

.gallery-item a img {
	display: block;
	-webkit-transition: -webkit-filter 0.2s ease-in;
	transition: -webkit-filter 0.2s ease-in;
	transition: filter 0.2s ease-in;
	transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
	-webkit-filter: opacity(60%);
	filter: opacity(60%);
}

.gallery-caption {
	display: block;
	text-align: left;
	padding: 0 10px 0 0;
	margin-bottom: 0;
}

/* Gallery Columns
/*-------------------------------------------------------*/
.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

@include bp-sm-up {
	.gallery-columns-3 .gallery-item {
		max-width: 33.33%;
	}

	.gallery-columns-4 .gallery-item {
		max-width: 25%;
	}
}

@include bp-md-up {
	.gallery-columns-5 .gallery-item {
		max-width: 20%;
	}

	.gallery-columns-6 .gallery-item {
		max-width: 16.66%;
	}

	.gallery-columns-7 .gallery-item {
		max-width: 14.28%;
	}

	.gallery-columns-8 .gallery-item {
		max-width: 12.5%;
	}

	.gallery-columns-9 .gallery-item {
		max-width: 11.11%;
	}
}

.gallery-columns-5 .gallery-caption,
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/*-------------------------------------------------------*/
/* Password
/*-------------------------------------------------------*/
.post-password-form label > input {
	margin-bottom: 24px;
}

.post-password-form label + input {
	line-height: 41px;
	font-size: 15px;
	font-weight: 700;
	padding: 0 24px;
	font-family: var(--deo-heading-font);
	border: none;
	background-color: var(--deo-primary-color);
	color: #222;
	position: relative;
	top: -3px;
	width: auto;
}

/*-------------------------------------------------------*/
/* Sticky Post
/*-------------------------------------------------------*/
.post.sticky .entry__title::before {
	content: "";
	background-image: url("../img/pin.svg");
	display: inline-block;
	margin-right: 12px;
	position: relative;
	opacity: 0.5;
	height: 20px;
	width: 20px;
}

/*-------------------------------------------------------*/
/* Comments Multipages Pagination
/*-------------------------------------------------------*/
.comment-navigation {
	margin: 20px 0;
}
