@charset "UTF-8";
:root {
  --deo-nav-links-color: #1b1b1b;
  --deo-post-link-color: #2f95ef;
  --deo-primary-color: #ffb31a;
  --deo-secondary-color: #2f95ef;
  --deo-primary-color: hsl(40, 100%, 55%);
  --deo-primary-color-h: 40;
  --deo-primary-color-s: 100%;
  --deo-primary-color-l: 55%;
  --deo-primary-rgb: 255, 179, 26;
  --deo-primary-color--light: #f5ebe1;
  --deo-border-color: #e5e5e5;
  --deo-border-color--dark: #2b2b2b;
  --deo-background-color--light: #f9f9f9;
  --deo-background-color--dark: #181818;
  --deo-woo-color-highlight: #26bb44;
  --deo-heading-color: #222222;
  --deo-text-color: #868686;
  --deo-text-color--light: #9e9e9e;
  --deo-buttons-hover-background-color: #222222;
  --deo-buttons-hover-text-color: #ffffff;
  --deo-heading-font-weigth: 600;
  --deo-nav-height: 90px;
  --deo-body-font: "Source Sans Pro", sans-serif;
  --deo-heading-font: "Poppins", sans-serif;
  --deo-container-width--narrow: 840px;
  --deo-container-width: 1170px;
  --deo-container-width--wide: 1280px;
  --deo-border-radius: 8px;
  --deo-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --deo-transition--all: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --deo-post-text-font-size: 1.25rem;
  --deo-btn-xl-size: 1.125rem;
  --deo-btn-lg-size: 1rem;
  --deo-btn-md-size: 0.875rem;
  --deo-btn-sm-size: 0.75rem;
  --deo-h1-size: 2.5rem;
  --deo-h2-size: 2.125rem;
  --deo-h3-size: 1.75rem;
  --deo-h4-size: 1.5rem;
  --deo-h5-size: 1.25rem;
  --deo-h6-size: 1.125rem;
}

/* Woo Block Styles
-------------------------------------------------------*/
.wc-block-grid__products {
  padding: 0 !important;
}
@media only screen and (min-width: 768px) {
  .wc-block-grid__products {
    margin: 0 -15px 24px !important;
  }
}
.wc-block-grid__products .wc-block-grid__product {
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .wc-block-grid__products .wc-block-grid__product {
    border-right-width: 15px;
    border-left-width: 15px;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .wc-block-grid .wc-block-grid__product {
    padding: 0 !important;
  }
}
.wc-block-grid__products .wc-block-grid__product-image img {
  width: 100%;
  border-radius: var(--deo-border-radius);
}

.wc-block-grid__product .wc-block-grid__product-link {
  text-decoration: none;
}
.wc-block-grid__product .wc-block-grid__product-link:hover .wc-block-grid__product-title, .wc-block-grid__product .wc-block-grid__product-link:focus .wc-block-grid__product-title {
  color: var(--deo-primary-color);
}

.edit-post-visual-editor .editor-block-list__block .wc-block-grid__product-title,
.editor-styles-wrapper .wc-block-grid__product-title,
.wc-block-grid__product .wc-block-grid__product-title {
  font-size: 1.125rem;
  font-family: var(--deo-heading-font);
  font-weight: var(--deo-heading-font-weigth);
  color: var(--deo-heading-color);
}

.wc-block-grid__product .wc-block-grid__product-title {
  margin-top: 1rem !important;
  margin-bottom: 0.25em !important;
}

.wc-block-grid.has-4-columns:not(.alignwide):not(.alignfull) .wc-block-grid__product,
.wc-block-grid.has-5-columns.alignfull .wc-block-grid__product {
  font-size: 1rem;
  font-weight: normal;
}

.wc-block-grid__product-price {
  font-size: 1rem !important;
}

.wc-block-grid__product-price del {
  opacity: 0.5;
  margin-left: 8px;
}

.wc-block-grid__product-rating {
  color: #fdd835;
}

.wc-block-grid__product-rating .star-rating,
.wc-block-grid__product-rating .wc-block-grid__product-rating__stars {
  font-size: var(--wp--preset--font-size--2-x-small);
  min-width: 76px;
  letter-spacing: 3px;
}

.wc-block-grid__product .wc-block-grid__product-add-to-cart {
  margin-top: 20px;
}

.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
  font-size: 0.875rem;
  background-color: var(--deo-primary-color);
  padding: 15px 34px;
  line-height: 1.15;
  -webkit-transition: var(--deo-transition--all);
  transition: var(--deo-transition--all);
}
.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link:hover, .wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link:focus {
  background-color: var(--deo-heading-color);
}

/* Widgets common styles
/*-------------------------------------------------------*/
.wc-block-attribute-filter__title,
.wc-block-price-filter__title,
.wc-block-active-filters__title {
  font-size: 1rem;
  margin-top: 1rem;
}
.editor-styles-wrapper .wc-block-attribute-filter__title,
.editor-styles-wrapper .wc-block-price-filter__title,
.editor-styles-wrapper .wc-block-active-filters__title {
  font-size: 1rem;
  margin-top: 1rem;
}

/* Widget Price Filter 
/*-------------------------------------------------------*/
.wc-block-components-price-slider__range-input-progress {
  --range-color: var(--deo-primary-color);
  height: 4px;
}

.wc-block-components-price-slider__range-input {
  top: -1px;
}

.wc-block-components-price-slider__range-input-wrapper {
  height: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: var(--deo-border-color);
  margin-bottom: 2rem;
}

.wc-block-price-filter__controls input {
  border-color: var(--deo-border-color) !important;
}

.wc-block-price-filter__controls .wc-block-form-text-input {
  font-size: 1rem;
}

/* Widget Product Search 
/*-------------------------------------------------------*/
.wc-block-product-search__fields {
  position: relative;
}
.wc-block-product-search .wc-block-product-search__field {
  margin-bottom: 0;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-radius: 0;
}
.wc-block-product-search .wc-block-product-search__button {
  border: 0;
  height: 100%;
  background-color: transparent;
  color: var(--deo-heading-color);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.wc-block-product-search .wc-block-product-search__button:hover, .wc-block-product-search .wc-block-product-search__button:focus {
  background-color: transparent;
  color: var(--deo-primary-color);
}
.wc-block-product-search .wc-block-product-search__button svg {
  display: none;
}
.wc-block-product-search .wc-block-product-search__button::after {
  display: block;
  font-size: 0.9375rem;
  font-family: "sedona-shop";
  content: "\e905";
}

/* Widget Product Categories List
/*-------------------------------------------------------*/
.wc-block-product-categories-list {
  padding-right: 0;
  list-style: none;
}
.wc-block-product-categories-list-item a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--wp--preset--color--text-regular);
}

/* Widget Products by Attribute 
/*-------------------------------------------------------*/
.wc-block-attribute-filter .wc-block-attribute-filter-list li label {
  vertical-align: middle;
  font-size: 1rem;
}
.wc-block-attribute-filter .wc-block-attribute-filter-list li input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--wp--preset--color--stroke);
  border: 1px solid var(--wp--preset--color--stroke);
}

/* Cart 
/*-------------------------------------------------------*/
.wc-block-cart__empty-cart__title {
  text-align: center;
}

.is-large.wc-block-cart {
  margin-bottom: 0 !important;
}

.is-large.wc-block-cart .wc-block-cart-items .wc-block-cart-item__image {
  padding-right: 0;
}

.is-large.wc-block-cart .wc-block-cart-items .wc-block-cart-items__row td.wc-block-cart-item__total {
  padding-left: 0;
}

.wc-block-cart-item__wrap .wc-block-components-product-name {
  font-family: var(--deo-heading-font);
  font-weight: var(--deo-heading-font-weigth);
  color: var(--deo-heading-color);
  font-size: 0.875rem;
}

.wc-block-components-product-badge {
  color: var(--deo-woo-color-highlight);
}

.wc-block-components-totals-footer-item {
  color: var(--deo-heading-color);
}

.is-mobile table.wc-block-cart-items .wc-block-cart-items__row:not(:last-child) {
  border-bottom: 1px solid var(--deo-border-color);
}

/* Checkout 
/*-------------------------------------------------------*/
.woocommerce .wc-block-components-form .wc-block-components-text-input input[type=email],
.woocommerce .wc-block-components-form .wc-block-components-text-input input[type=number],
.woocommerce .wc-block-components-form .wc-block-components-text-input input[type=tel],
.woocommerce .wc-block-components-form .wc-block-components-text-input input[type=text],
.woocommerce .wc-block-components-form .wc-block-components-text-input input[type=url],
.woocommerce .wc-block-components-text-input input[type=email],
.woocommerce .wc-block-components-text-input input[type=number],
.woocommerce .wc-block-components-text-input input[type=tel],
.woocommerce .wc-block-components-text-input input[type=text],
.woocommerce .wc-block-components-text-input input[type=url],
.woocommerce .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input,
.woocommerce .wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input,
.woocommerce .wc-block-components-combobox .wc-block-components-combobox-control .components-form-token-field__suggestions-list,
.woocommerce .wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control .components-form-token-field__suggestions-list {
  border-color: var(--deo-border-color);
}

.wc-block-components-radio-control .wc-block-components-radio-control__input:checked::after {
  display: none;
}

/* Editor Styles
-------------------------------------------------------*/
.editor-styles-wrapper[data-widget-area-id=sedona-shop-blog-sidebar] > .block-editor-block-list__layout > .wp-block,
.editor-styles-wrapper[data-widget-area-id=sedona-shop-shop-sidebar] > .block-editor-block-list__layout > .wp-block,
.editor-styles-wrapper[data-widget-area-id=sedona-shop-page-sidebar] > .block-editor-block-list__layout > .wp-block {
  margin-bottom: 60px;
}
.editor-styles-wrapper[data-widget-area-id=sedona-shop-blog-sidebar] a,
.editor-styles-wrapper[data-widget-area-id=sedona-shop-shop-sidebar] a,
.editor-styles-wrapper[data-widget-area-id=sedona-shop-page-sidebar] a {
  color: var(--deo-heading-color);
  text-decoration: none;
}
.editor-styles-wrapper[data-widget-area-id=sedona-shop-blog-sidebar] .widget-title,
.editor-styles-wrapper[data-widget-area-id=sedona-shop-shop-sidebar] .widget-title,
.editor-styles-wrapper[data-widget-area-id=sedona-shop-page-sidebar] .widget-title {
  font-size: 1.125rem;
  margin-bottom: 24px;
  color: var(--deo-heading-color);
  font-weight: var(--deo-heading-font-weigth);
}

.container {
  max-width: var(--deo-container-width);
  margin-right: auto;
  margin-left: auto;
}

.post-type-post .editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper > :where(:not(.alignleft):not(.alignright)),
.post-type-post .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull):not(.alignwide)) {
  max-width: var(--deo-container-width--narrow);
}

.sedona-shop-left-sidebar .edit-post-visual-editor .wp-block.alignfull,
.sedona-shop-left-sidebar .edit-post-visual-editor .wp-block.alignwide,
.sedona-shop-right-sidebar .edit-post-visual-editor .wp-block.alignfull,
.sedona-shop-right-sidebar .edit-post-visual-editor .wp-block.alignwide {
  max-width: var(--deo-container-width--narrow) !important;
}
.sedona-shop-left-sidebar .edit-post-visual-editor .wp-block[data-align=full],
.sedona-shop-left-sidebar .edit-post-visual-editor .wp-block[data-align=wide],
.sedona-shop-right-sidebar .edit-post-visual-editor .wp-block[data-align=full],
.sedona-shop-right-sidebar .edit-post-visual-editor .wp-block[data-align=wide] {
  max-width: var(--deo-container-width);
}
.sedona-shop-left-sidebar .wp-block.alignfull,
.sedona-shop-right-sidebar .wp-block.alignfull {
  margin-right: auto;
  margin-left: auto;
}

.sedona-shop-fullwidth .edit-post-visual-editor .wp-block[data-align=wide] {
  max-width: var(--deo-container-width--wide);
}
.sedona-shop-fullwidth .edit-post-visual-editor .wp-block[data-align=full] {
  max-width: none;
}
.sedona-shop-fullwidth .wp-block[data-align=wide] {
  max-width: var(--deo-container-width);
}

@media only screen and (min-width: 576px) {
  .wp-block.alignright,
  .wp-block.alignleft {
    max-width: 40%;
  }
}
@media only screen and (max-width: 575px) {
  .wp-block.alignright,
  .wp-block.alignleft {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
  .wp-block-gallery.alignleft,
  .wp-block-gallery.alignright {
    max-width: 100%;
  }
}
/* Typography
-------------------------------------------------------*/
.edit-post-visual-editor a,
.editor-rich-text__tinymce a {
  color: var(--deo-post-link-color);
  text-decoration: none;
}

.editor-styles-wrapper {
  font-family: var(--deo-body-font);
  color: var(--deo-text-color);
}

.edit-post-visual-editor p,
.edit-post-visual-editor,
.blocks-rich-text__tinymce.mce-content-body {
  font-size: inherit;
}

/* Headings
-------------------------------------------------------*/
.edit-post-visual-editor .editor-post-title__input,
.edit-post-visual-editor h1.wp-block[data-type="core/heading"],
.edit-post-visual-editor h2.wp-block[data-type="core/heading"],
.edit-post-visual-editor h3.wp-block[data-type="core/heading"],
.edit-post-visual-editor h4.wp-block[data-type="core/heading"],
.edit-post-visual-editor h5.wp-block[data-type="core/heading"],
.edit-post-visual-editor h6.wp-block[data-type="core/heading"] {
  font-family: var(--deo-heading-font);
  color: var(--deo-heading-color);
  font-weight: var(--deo-heading-font-weigth);
}

.editor-post-title__input {
  font-size: var(--deo-h1-size);
}

.edit-post-visual-editor h1.wp-block[data-type="core/heading"] {
  font-size: var(--deo-h1-size);
}

.edit-post-visual-editor h2.wp-block[data-type="core/heading"] {
  font-size: var(--deo-h2-size);
}

.edit-post-visual-editor h3.wp-block[data-type="core/heading"] {
  font-size: var(--deo-h3-size);
}

.edit-post-visual-editor h4.wp-block[data-type="core/heading"] {
  font-size: var(--deo-h4-size);
}

.edit-post-visual-editor h5.wp-block[data-type="core/heading"] {
  font-size: var(--deo-h5-size);
}

.edit-post-visual-editor h6.wp-block[data-type="core/heading"] {
  font-size: var(--deo-h6-size);
}

@media only screen and (max-width: 575px) {
  .edit-post-visual-editor h1.wp-block[data-type="core/heading"] {
    font-size: var(--deo-h1-size) !important;
  }
  .edit-post-visual-editor h2.wp-block[data-type="core/heading"] {
    font-size: var(--deo-h2-size) !important;
  }
  .edit-post-visual-editor h3.wp-block[data-type="core/heading"] {
    font-size: var(--deo-h3-size) !important;
  }
  .edit-post-visual-editor h4.wp-block[data-type="core/heading"] {
    font-size: var(--deo-h4-size) !important;
  }
}
/* Lists
-------------------------------------------------------*/
dd,
li {
  margin-bottom: 0;
}

.edit-post-visual-editor .wp-block[data-type="core/list"] ol,
.edit-post-visual-editor .wp-block[data-type="core/list"] ul {
  margin-right: 0;
  padding-right: 1.2em;
}

/* Separators
-------------------------------------------------------*/
.wp-block-separator {
  border-top: 0;
  border-color: var(--deo-border-color);
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100px !important;
}

.wp-block-separator.is-style-dots:before {
  font-weight: 500;
}

.wp-block-separator.is-style-dots:before {
  color: var(--deo-text-color);
}

/* Tables
-------------------------------------------------------*/
.edit-post-visual-editor table {
  border-spacing: 0;
}
.edit-post-visual-editor td,
.edit-post-visual-editor th {
  border-color: var(--deo-border-color);
}
.edit-post-visual-editor th {
  text-align: right;
}
.edit-post-visual-editor .wp-block-table__cell-content {
  padding: 10px;
}

/* Cover Image
-------------------------------------------------------*/
.wp-block-cover,
.wp-block-cover-image {
  font-size: 1rem;
  padding: 2em;
  line-height: 1.3;
}

[data-align=left] .wp-block-cover,
[data-align=left] .wp-block-cover-image,
[data-align=right] .wp-block-cover,
[data-align=right] .wp-block-cover-image {
  max-width: 100%;
}

[data-align=left] .wp-block-cover,
[data-align=right] .wp-block-cover {
  margin-top: 10px;
  margin-bottom: 1.5em;
}

/* Buttons
-------------------------------------------------------*/
.editor-styles-wrapper .wp-element-button,
.editor-styles-wrapper .wp-block-button__link {
  padding: 19px 48px;
  font-size: 1rem;
  border-radius: var(--deo-border-radius);
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none !important;
  line-height: 1.1 !important;
  font-family: var(--deo-heading-font);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.wp-block-button__link:not(.has-background),
.wp-block-button__link:not(.has-background):active,
.wp-block-button__link:not(.has-background):focus,
.wp-block-button__link:not(.has-background):hover {
  background-color: var(--deo-heading-color);
}

/* Latest Posts / Categories / Comments
-------------------------------------------------------*/
.wp-block-categories ul {
  padding-right: 0;
  list-style: none;
}

.edit-post-visual-editor .wp-block-categories ul,
.edit-post-visual-editor ul.wp-block-archives {
  padding-right: 18px;
  margin-right: 0;
}

.edit-post-visual-editor .wp-block-latest-posts {
  padding-right: 0;
}
.edit-post-visual-editor .wp-block-latest-posts a {
  display: inline-block;
  line-height: 1.3;
}

/* Latest Posts
-------------------------------------------------------*/
.wp-block-latest-posts__list {
  overflow: hidden;
}

.wp-block-latest-posts li {
  margin-bottom: 1rem;
}

/* Preformatted / Verse
-------------------------------------------------------*/
.wp-block-code,
.wp-block-preformatted pre,
.wp-block-verse {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  color: inherit;
}

.wp-block-verse pre,
pre.wp-block-verse {
  color: inherit;
  padding: 0;
}

/* Blockquotes
-------------------------------------------------------*/
blockquote {
  margin: 0;
  overflow: hidden;
}
blockquote p {
  font-style: italic;
}

.edit-post-visual-editor .wp-block-quote {
  padding: 12px 40px;
  border-right: 3px solid var(--deo-primary-color);
}
.edit-post-visual-editor .wp-block-quote[style*="text-align: left"] {
  border-right: 3px solid var(--deo-primary-color);
}
.edit-post-visual-editor .wp-block-quote[style*="text-align: center"] {
  border: 0;
}
.edit-post-visual-editor .wp-block-quote[style*="text-align: right"] {
  border-left: 3px solid var(--deo-primary-color);
  border-right: 0;
}
.edit-post-visual-editor .wp-block-quote p {
  color: var(--deo-heading-color);
  line-height: 1.6;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 12px;
}
.edit-post-visual-editor .wp-block-quote__citation {
  font-size: 0.875rem;
  font-style: normal;
  color: var(--deo-text-color);
  opacity: 0.7;
}
.edit-post-visual-editor .wp-block-quote.is-large p,
.edit-post-visual-editor .wp-block-quote.is-style-large p {
  font-size: 2rem;
}
.edit-post-visual-editor .wp-block-quote.is-style-large .wp-block-quote__citation,
.edit-post-visual-editor .wp-block-quote.is-large .wp-block-quote__citation {
  font-size: 1rem;
}

/* Pullquotes
-------------------------------------------------------*/
.wp-block-pullquote {
  position: relative;
  border: 0;
  text-align: right;
  color: var(--deo-heading-color);
  margin-top: 0;
  padding: 0.2em 2.5em 0.2em 1em;
}
.wp-block-pullquote blockquote p {
  margin-bottom: 0;
  margin-top: 0;
  font-style: italic;
}
.wp-block-pullquote::before {
  content: "“";
  color: var(--deo-primary-color);
  right: 0;
  top: 0;
  position: absolute;
  font-size: 5rem;
  line-height: 1;
}
.wp-block-pullquote .wp-block-pullquote__citation {
  text-transform: none;
  opacity: 0.7;
  font-style: normal;
  font-size: 1rem;
  margin-top: 1em;
}
.wp-block-pullquote.is-style-solid-color {
  margin-top: 10px;
  padding: 40px 0;
}
.wp-block-pullquote.is-style-solid-color::before {
  right: 10px;
  top: 10px;
}

/* Woo Blocks
-------------------------------------------------------*/
.wc-block-grid__product-onsale {
  position: absolute;
  z-index: 9;
  padding: 6px 12px;
  font-size: 0.625rem;
  right: 10px;
  top: 10px;
  left: auto;
  margin: 0;
  border-radius: 5px;
  min-height: auto;
  line-height: 1;
  background-color: var(--deo-heading-color);
  color: #ffffff;
  text-transform: uppercase;
}
/*# sourceMappingURL=editor-rtl.css.map */
